@import "tailwindcss";

@theme{
    --color-cpink: rgb(245, 239, 220);
    --color-cbrown: rgb(77, 64, 44);
    --color-cbluelight: rgb(176, 213, 232);
    --color-cgreenlight: rgb(183, 232, 208);
}

/*Componente imagenes en hover y active*/
@layer components {
  .img-hover-group {
    @apply *:hover:transition *:hover:delay-100 *:hover:duration-200 *:hover:ease-in-out *:hover:-translate-y-1 *:hover:scale-110 *:hover:cursor-pointer *:active:transition *:active:delay-50 *:active:duration-100 *:active:ease-in-out *:active:opacity-50;
  }
}